---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Infinite Canvas">
  <!-- header slot-->
  <header slot="header">
    <h1>App gallery</h1>
  </header>

  <!-- default slot -->
</Layout>
