---
import Layout from "../layouts/Layout.astro"

const galleryItems = await Astro.glob("../content/gallery/*.md")
---

<Layout title="Infinite Canvas" activeItem="/gallery">
  <!-- header slot-->
  <header slot="header" class="space-y-8 text-center pb-168 pt-72">
    <h1 class="text-black sans-48">App gallery</h1>
    <p class="serif-24 text-brown">Some tagline about the app gallery</p>
  </header>

  <!-- default slot -->
  <ul class="grid grid-cols-4 gap-24 p-32">
    {
      galleryItems.map(
        ({ frontmatter: { title, platforms, url, usecases, description } }) => (
          <li class="p-24 bg-brown bg-opacity-5 rounded-4">
            <h2 class="mb-4 sans-20 text-gray">{title}</h2>
            <a href={url} target="_blank">
              <p class="mb-16 sans-16 text-blue font-weight hover-dim">
                {url.replace("https://", "") + " ↗"}
              </p>
            </a>
            <p class="serif-16 text-brown text-opacity-80">{description}</p>
          </li>
        )
      )
    }
  </ul>
</Layout>
