---
import Layout from "../layouts/Layout.astro"

const historyItems = await Astro.glob("../content/history/*.md")

console.log(historyItems)
---

<Layout title="Infinite Canvas">
  <!-- header slot-->
  <header slot="header">
    <h1>History</h1>
  </header>

  <!-- default slot -->
  <ul>
    {
      historyItems.map(({ frontmatter: { title, year }, Content }) => (
        <li>
          <time datetime={year}>{year}</time>
          <h2>{title}</h2>
          <Content />
        </li>
      ))
    }
  </ul>
</Layout>
