---
import Layout from "../layouts/Layout.astro"
import ButtonLink from "../components/ButtonLink.astro"
import IndexRandomGallery from "../components/IndexRandomGallery.jsx"

const galleryItems = await Astro.glob("../content/gallery/*.md")
---

<Layout title="Infinite Canvas" activeItem="/">
  <!-- header slot-->
  <header slot="header" class="text-center">
    <h1>Infinite Canvas</h1>
    <p class="font-serif">New tools that work the way we think</p>
  </header>

  <!-- default slot -->
  <div class="space-y-96">
    <section class="text-center">
      <h2 class="sans-38 text-gray">Meet the apps paving the way</h2>
      <IndexRandomGallery client:load galleryItems={galleryItems} />
      <ButtonLink href="/gallery">Browse the app gallery →</ButtonLink>
    </section>

    <section class="bg-brown bg-opacity-5">
      <div class="px-32 mx-auto max-w-1440 py-96 grid grid-cols-2">
        <div>
          <h2 class="sans-30 text-gray mb-24">We think spatially</h2>
          <p class="serif-20 text-brown text-opacity-80 mb-16">
            People have been organizing and processing information spatially for
            centuries, whether it be with notes in a notebook or bulletin boards
            with stickies and photos.
          </p>
          <p class="serif-20 text-brown text-opacity-80">
            This type of work uses a parts of our brain dedicated to spatial
            navigation.
          </p>
        </div>
        <div>
          <h2 class="sans-30 text-gray mb-24">
            Software that mirrors how we think
          </h2>
          <p class="serif-20 text-brown text-opacity-80 mb-16">
            Traditional tools like text editors and presentation software have
            linear interfaces that mimic their output.
          </p>
          <p class="serif-20 text-brown text-opacity-80">
            Infinite canvas tools instead embrace the messy, circuitous paths we
            take when brainstorming, sketching and distilling ideas.
          </p>
        </div>
      </div>
    </section>

    <section class="px-32 mx-auto max-w-1440">
      <h2 class="text-gray sans-38">What makes an infinite canvas?</h2>
      <ul class="grid grid-cols-2">
        <li>
          <h3>Expansiveness</h3>
          <p>
            A seemingly limitless canvas allows for free thinking and creation
          </p>
        </li>
        <li>
          <h3>Zoom</h3>
          <p>
            Different zoom levels mimic stepping into and stepping away in the
            real world
          </p>
        </li>
        <li>
          <h3>Direct manipulation</h3>
          <p>
            Direct manipulation of objects including freeform movement, editing
            and duplication
          </p>
        </li>
        <li>
          <h3>Collaboration</h3>
          <p>
            Real time collaboration combines the best of software and working
            together in person
          </p>
        </li>
      </ul>
    </section>

    <section class="text-center">
      <h2>History</h2>
      <p>
        There is a long lineage of software built around an infinite canvas.
      </p>
      <ol class="grid grid-cols-4 ga">
        <li>
          <time datetime="1963">1963</time>
          <h3>Sketchpad</h3>
        </li>
        <li>
          <time datetime="1987">1987</time>
          <h3>Adobe Illustrator</h3>
        </li>
        <li>
          <time datetime="2006">2006</time>
          <h3>Blender node editor</h3>
        </li>
        <li>
          <time datetime="2016">2016</time>
          <h3>Figma</h3>
        </li>
      </ol>
      <ButtonLink href="/history">Browse the timeline →</ButtonLink>
    </section>
  </div>
</Layout>
