---
import Layout from "../layouts/Layout.astro"
import ButtonLink from "../components/ButtonLink.astro"
import IndexRandomGallery from "../components/index/IndexRandomGallery.jsx"
import WhatMakesItem from "../components/index/WhatMakesItem.astro"
import Date from "../components/history/Date.astro"
import index_header from "../images/illustrations/index_header.svg"

const galleryItems = await Astro.glob("../content/gallery/*.md")
---

<Layout title="Infinite Canvas" activeItem="/">
  <!-- header slot-->
  <header slot="header" class="relative pb-48">
    <img src={index_header} class="max-w-1440 mx-auto w-full" />
    <div
      class="absolute top-0 right-0 bottom-0 left-0 flex justify-center items-center flex-col"
    >
      <h1 class="font-sans text-black text-[94px] text-center">
        Infinite Canvas
      </h1>
      <p class="serif-38 text-brown max-w-[400px] text-center">
        New tools that work the way we think
      </p>
    </div>
  </header>

  <!-- default slot -->
  <div class="space-y-96 mt-96">
    <section class="flex flex-col gap-y-32 max-w-1440 mx-auto items-center">
      <h2 class="sans-38 text-gray text-center">
        Meet the apps paving the way
      </h2>
      <IndexRandomGallery client:load galleryItems={galleryItems} />
      <ButtonLink href="/gallery" color="bg-dark-blue"
        >Browse the app gallery →</ButtonLink
      >
    </section>

    <section class="bg-brown bg-opacity-5">
      <div
        class="px-32 mx-auto max-w-1440 py-96 grid grid-cols-2 gap-x-48 gap-y-64"
      >
        <div>
          <h2 class="sans-30 text-gray mb-24">We think spatially</h2>
          <p class="serif-20 text-brown text-opacity-80 mb-16">
            People have been organizing and processing information spatially for
            centuries, whether it be with notes in a notebook or bulletin boards
            with stickies and photos.
          </p>
          <p class="serif-20 text-brown text-opacity-80">
            This type of work uses a parts of our brain dedicated to spatial
            navigation.
          </p>
        </div>
        <div>
          <h2 class="sans-30 text-gray mb-24">
            Software that mirrors how we think
          </h2>
          <p class="serif-20 text-brown text-opacity-80 mb-16">
            Traditional tools like text editors and presentation software have
            linear interfaces that mimic their output.
          </p>
          <p class="serif-20 text-brown text-opacity-80">
            Infinite canvas tools instead embrace the messy, circuitous paths we
            take when brainstorming, sketching and distilling ideas.
          </p>
        </div>
      </div>
    </section>

    <section class="px-32 mx-auto max-w-1440 space-y-32">
      <h2 class="text-gray sans-38">What makes an infinite canvas?</h2>
      <ul class="grid grid-cols-2 gap-x-48 gap-y-64">
        <WhatMakesItem
          title="Expansiveness"
          description="A seemingly limitless canvas allows for free thinking and creation"
        />
        <WhatMakesItem
          title="Zoom"
          description="Different zoom levels mimic stepping into and stepping away in the real world"
        />
        <WhatMakesItem
          title="Direct manipulation"
          description="Direct manipulation of objects including freeform movement, editing and duplication"
        />
        <WhatMakesItem
          title="Collaboration"
          description="Real time collaboration combines the best of software and working together in person"
        />
      </ul>
    </section>

    <section class="bg-brown bg-opacity-5 py-96">
      <div class="text-center flex flex-col gap-y-32 max-w-1440 mx-auto">
        <h2 class="sans-38 text-gray">History</h2>
        <ol class="grid grid-cols-4 ga">
          <li>
            <Date date={1963} />
            <h3>Sketchpad</h3>
          </li>
          <li>
            <Date date={1987} />
            <h3>Adobe Illustrator</h3>
          </li>
          <li>
            <Date date={2006} />
            <h3>Blender node editor</h3>
          </li>
          <li>
            <Date date={2016} />
            <h3>Figma</h3>
          </li>
        </ol>
        <ButtonLink href="/history" color="bg-dark-red">
          Browse the timeline →
        </ButtonLink>
      </div>
    </section>
  </div>
</Layout>
