---
import joinClasses from "../utilities/joinClasses"
const { href, color } = Astro.props
---

<a href={href}>
  <div
    class={joinClasses(
      "inline-block px-24 text-white sans-16 py-8 rounded-8 hover:opacity-50 ease-in-out duration-100",
      color
    )}
  >
    <slot />
  </div>
</a>
