---
import joinClasses from "../utilities/joinClasses"
const { href, color } = Astro.props
---

<a href={href}>
  <div
    class={joinClasses(
      "inline-block px-24 text-white  py-12 rounded-8 hover-dim",
      color
    )}
  >
    <slot />
  </div>
</a>
