---
import joinClasses from "../utilities/joinClasses"
const { href, color } = Astro.props
---

<a href={href}>
  <div
    class={joinClasses(
      "inline-block px-24 text-white py-8 rounded-4 hover-dim text-16",
      color
    )}
  >
    <slot />
  </div>
</a>
