---
---

<footer class="bg-gray text-white">
  <div
    class="max-w-1440 grid grid-cols-2 gap-y-32 gap-x-48 px-32 py-72 serif-20"
  >
    <p>
      This site draws from our excitement about the growing infinite canvas
      idea. We hope to inspire you to build and use these tools.
    </p>
    <p>
      This project is open source. Feel free to contribute and provide feedback
      on Github.
    </p>
    <p class="col-span-2 text-center">
      Crafted by <a href="https://www.arun.is/">Arun Venkatesan</a> and <a
        href="https://museapp.com/">Muse</a
      >
    </p>
  </div>
</footer>
