---
---

<footer class="bg-gray">
  <div
    class="grid grid-cols-1 640:grid-cols-2 px-24 768:px-32 py-32 768:py-48 mx-auto max-w-1440 gap-y-16 640:gap-y-32 gap-x-48"
  >
    <p class="text-white serif-16 text-opacity-80">
      This site draws from our excitement about the growing infinite canvas
      idea. We hope to inspire you to build and use these tools.
    </p>
    <p class="text-white serif-16 text-opacity-80">
      Feel free to contribute and provide feedback on Github.
    </p>
    <div
      class="col-span-1 640:col-span-2 text-white serif-16 text-opacity-80 flex 640:justify-center items-center gap-x-8 flex-wrap"
    >
      Created by <a
        href="https://www.arun.is/"
        class="inline-flex gap-x-4 hover-dim items-center"
        target="_blank"
      >
        <img
          src="/images/footer/arun.jpg"
          alt="Portrait of Arun Venkatesan"
          class="block drop-shadow-1 rounded-full overflow-hidden w-16 h-16"
        />Arun</a
      > and
      <a
        href="https://museapp.com/"
        class="inline-flex gap-x-4 hover-dim items-center"
        target="_blank"
      >
        <img
          src="/images/footer/muse.jpg"
          alt="Muse icon"
          class="block drop-shadow-1 rounded-full overflow-hidden w-16 h-16"
        />Muse</a
      >
    </div>
  </div>
</footer>
