---
---

<footer class="bg-gray">
  <div
    class="grid grid-cols-1 px-24 py-48 mx-auto 640:px-48 640:grid-cols-2 max-w-1440 gap-y-24 640:gap-y-24 gap-x-48 scroll scroll-hidden"
  >
    <p class="font-sans text-white text-opacity-80 leading-high">
      This project grew from our excitement about the growing infinite canvas
      idea. We hope to inspire you use these tools and perhaps build your own.
    </p>
    <p class="font-sans text-white text-opacity-80 leading-high">
      This site is open source and was built using <a
        href="https://astro.build"
        class="inline-flex items-center underline gap-x-4 hover-dim"
        target="_blank">Astro</a
      > and <a
        href="https://tailwindcss.com"
        class="inline-flex items-center underline gap-x-4 hover-dim"
        target="_blank">Tailwind CSS</a
      >. Feel free to <a
        href="https://github.com/museapphq/infinitecanvas.tools"
        class="underline hover-dim underline-offset-2"
        >contribute and provide feedback on GitHub.</a
      >
    </p>
    <div
      class="flex flex-wrap items-center col-span-1 font-sans text-white 640:col-span-2 text-opacity-80 640:justify-center gap-x-8"
    >
      Created by <a
        href="https://www.arun.is/"
        class="inline-flex items-center gap-x-4 hover-dim"
        target="_blank"
      >
        <img
          src="/images/footer/arun.webp"
          alt="Portrait of Arun Venkatesan"
          class="block w-16 h-16 overflow-hidden rounded-full drop-shadow-1"
        />Arun</a
      > and
      <a
        href="https://museapp.com/"
        class="inline-flex items-center gap-x-4 hover-dim"
        target="_blank"
      >
        <img
          src="/images/footer/muse.webp"
          alt="Muse icon"
          class="block w-16 h-16 overflow-hidden rounded-full drop-shadow-1"
        />Muse</a
      >
    </div>
  </div>
</footer>
