---
import { Picture } from "@astrojs/image/components"
import arun from "../images/footer/arun.jpg"
import muse from "../images/footer/muse.jpg"
---

<footer class="bg-gray">
  <div
    class="grid grid-cols-2 px-32 py-48 mx-auto max-w-1440 gap-y-32 gap-x-48"
  >
    <p class="text-white serif-16 text-opacity-80">
      This site draws from our excitement about the growing infinite canvas
      idea. We hope to inspire you to build and use these tools.
    </p>
    <p class="text-white serif-16 text-opacity-80">
      This project is open source. Feel free to contribute and provide feedback
      on Github.
    </p>
    <div
      class="col-span-2 text-white serif-16 text-opacity-80 flex justify-center items-center gap-x-4"
    >
      Created by <a
        href="https://www.arun.is/"
        class="inline-flex gap-x-4 hover-dim"
        target="_blank"
      >
        <Picture
          src={arun}
          widths={[24]}
          sizes="24px"
          aspectRatio="1:1"
          formats={["avif", "jpeg", "png", "webp"]}
          alt="Portrait of Arun Venkatesan"
          class="block drop-shadow-1 rounded-full overflow-hidden"
        />Arun Venkatesan</a
      > and
      <a
        href="https://museapp.com/"
        class="inline-flex gap-x-4 hover-dim"
        target="_blank"
      >
        <Picture
          src={muse}
          widths={[24]}
          sizes="24px"
          aspectRatio="1:1"
          formats={["avif", "jpeg", "png", "webp"]}
          alt="Portrait of Arun Venkatesan"
          class="block drop-shadow-1 rounded-full overflow-hidden"
        />Muse</a
      >
    </div>
  </div>
</footer>
