---
---

<footer>
  <p>
    This site draws from our excitement about the growing infinite canvas idea.
    We hope to inspire you to build and use these tools.
  </p>
  <p>
    This project is open source. Feel free to contribute and provide feedback on
    Github.
  </p>
  <p>
    Crafted by <a href="https://www.arun.is/">Arun Venkatesan</a> and <a
      href="https://museapp.com/">Muse</a
    >
  </p>
</footer>
