---
const { activeItem } = Astro.props

export interface Props {
  activeItem?: string
}
---

<nav class="flex flex-row justify-between p-4">
  <a href="/">Home</a>
  <div class="space-x-4">
    <a href="/gallery">App gallery</a>
    <a href="/history">History</a>
  </div>
</nav>
