---
import joinClasses from "../utilities/joinClasses"
const { activeItem } = Astro.props

// sets the color based on if item is active or not
const navClass = (currentItem) =>
  joinClasses(
    "hover-dim ",
    activeItem === currentItem
      ? "font-bold text-black"
      : "text-gray text-opacity-80"
  )

export interface Props {
  activeItem?: string
}
---

<nav
  class="flex flex-row justify-between py-24 px-24 640:px-48 mx-auto max-w-1440 scroll scroll-hidden"
>
  <a class={navClass("/")} href="/">Home</a>
  <div class="space-x-24 640:space-x-48">
    <a href="/gallery" class={navClass("/gallery")}>App gallery</a>
    <a href="/history" class={navClass("/history")}>History</a>
  </div>
</nav>
