---
const { items } = Astro.props
---

<div style={`background-image: url("/images/backgrounds/dot_grid.svg")`}>
  <figure class="px-24 pt-24 pb-16 flex flex-col space-y-8">
    <div class="aspect-[3/2] relative">
      {
        items.map(({ title, imgSrc }, index) => (
          <img
            src={imgSrc}
            alt={title}
            class="absolute slide"
            style={`opacity:0; animation: slide ${
              5 * items.length
            }s infinite; animation-delay: ${5 * index}s;`}
          />
        ))
      }
    </div>
    <div class="h-24 relative">
      {
        items.map(({ title, sourceUrl }, index) => (
          <figcaption
            class="serif-16 text-brown absolute"
            style={`opacity:0; animation: slide ${
              5 * items.length
            }s infinite; animation-delay: ${5 * index}s;`}
          >
            {title} (
            <a
              class="text-brown text-opacity-80 hover-dim slide"
              href={sourceUrl}
            >
              source
            </a>
            )
          </figcaption>
        ))
      }
    </div>
  </figure>
</div>
