---
const { date, title } = Astro.props
import Date from "../history/Date.astro"
---

<li class="z-10 space-x-8 640:space-y-8 px-24 flex flex-row 640:flex-col">
  <div><Date date={date} /></div>
  <h3 class="serif-16 text-brown">{title}</h3>
</li>
