---
const { title, description, src, alt } = Astro.props
---

<li>
  <div style={`background-image: url("/images/backgrounds/dot_grid.svg")`}>
    <img src={src} alt={alt} class="mix-blend-multiply" />
  </div>
  <h3 class="sans-24 text-gray mb-8 text-center">{title}</h3>
  <p class="serif-16 text-brown text-opacity-80 text-center">
    {description}
  </p>
</li>
