---
const { title, description, src, alt } = Astro.props
---

<li
  class="grid grid-cols-1 gap-24 420:grid-cols-2 540:grid-cols-1 860:grid-cols-2 640:gap-48"
>
  <div>
    <h3 class="mb-16 font-serif text-black text-20">{title}</h3>
    <p class="text-gray text-opacity-80 text-sans leading-high text-20">
      {description}
    </p>
  </div>
  <div style={`background-image: url("/images/backgrounds/dot_grid.svg")`}>
    <img src={src} alt={alt} class="mix-blend-multiply" />
  </div>
</li>
