---
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"
import dots from "../images/backgrounds/dot_grid.svg"
import style from "../styles/style.css"
export interface Props {
  title: string
  activeItem?: string
}

const { title, activeItem } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- fonts -->
    <link
      rel="preload"
      href="/fonts/merriweather/merriweather-v30-latin-700.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/merriweather/merriweather-v30-latin-700italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/ibm-plex-sans-condensed/ibm-plex-sans-condensed-v13-latin-500.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-parchment">
    <div style={`background-image: url("${dots}")`}>
      <Nav activeItem={activeItem} />
      <slot name="header" />
    </div>
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
